body {
    position: relative;
    padding: 0;
    background-color: $Bear09;
    width: 100%;
    height: 100%;
    overflow: auto;
}
button {
    font-family: content;
    background-color: $Bear09;
    color: $Text3;
    border:none;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: none;
    margin-left: 0;
}
.btn {
    font-family: content;
    background-color: $Bear09;
    color: $Text2;
    border:none;
}

//navigation left
.navbar-fixed-left {
    font-family: space;
    width: 155px;
    position: fixed;
    float: none;
    border-radius: 0;
    height: 100%;
    background-color: $Bear09;
    z-index: 1;
    border-right-color: $White;
    border-right-style: solid;
    border-right-width: 15px;
}
.logo {
    width: 139px;
    padding: 15px;
}
.logo-fix > a {
    float: none;
    margin: 0px;
    background-color: inherit;
}
.nav-fix {
    padding-left: 15px;
}
.nav-fix > li > a {
    border-radius: 5px 0 0 5px;
    float: none;
    margin: 0px;
    color: $Text2;
    text-align: right;
}
.nav-fix > li > a:hover,
.nav-fix > li > a:focus {
    border-radius: 5px 0 0 5px;
    margin-left: 0;
    float: none;
    width: 100%;
    color: $Text2;
    background-color: $White;
}
.nav-fix > .active > a,
.nav-fix > .active > a:hover,
.nav-fix > .active > a:focus {
    border-radius: 5px 0 0 5px;
    color: $Text2;
    background-color: $White;
}
.edit-quote {
    height: 34px;
}
.quotes-btns {
    z-index: 1;
    width: 140px;
    display: flex;
    margin: 0;
    height: 40px;
    position:fixed;
    left: 15px;
    top: 220px
}
.quotes-btns > .btn {
    border-radius: 5px 0 0 5px;
    width: 35px;
    margin-left: 0;
}
.btn-dropdown {
    border-radius: 0;
    height: 40px;
    width: 35px;
}
.btn-group .btn+.btn {
    margin-left: 0;
}

//header
.content-head {
    font-size: 375%;
    font-family: space;
    width: 100%;
    height: 100px;
    padding: 15px 30px 0px 155px;
    margin: 0px;
    background-color: $White;
    color: $Text3;
    position: relative;
}

//body
.content-container {
    height: 100%;
    width: 100%;
    padding: 15px 15px 40px 170px;
    margin: 0px;
    background-color: $Bear09;
    color: $Text2;
}
.collapse.in {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.collapsing {
    display: none;
}
.accordion {
    display: inline-flex;
    position: relative;
}
.quote {
    font-family: contentbold;
    font-size: 20px;
    overflow-wrap: break-word;
    width: 100%;
    padding: 0;
    display: block;
    height: 85px;
    overflow: auto;
}
.quote-bottom {
    font-family: content;
    font-size: 15px;
    height: 40px;
    padding-top: 15px;
    display: block;
}
.panel-heading {
    padding: 30px 30px 15px 30px;
    position: absolute;
    width: 100%;
    top: 0;
    height: 160px;
}
.panel-group {
    padding: 15px 0 15px 15px;
    margin: 0;
}
.user-image {
    max-height: 85px;
    float: left;
    //position: absolute;
    //bottom: 0;
    //right: 0;
}
.panel-group .panel {
    border: 0px;
    padding: 0;
    background-color: $Bear09;
    width: 400px;
    height: 200px;
    margin: 0 15px 15px 0;
    box-shadow: none;
    border-radius: 5px;
}
.panel-group .panel+.panel {
    margin: 0 15px 15px 0;
}
.panel-group .panel-heading+.panel-collapse > .panel-body {
    border-top: none;
}
.panel-body {
    padding: 0 30px 0 30px;
    height: 40px;
}
.quote-btns {
    height: 40px;
}
.quote-btns .btn {
    height: 40px;
    width: 35px;
    border-radius: 5px 5px 0 0;
}
.panel-body .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0 5px 0 0;
}

//main footer of page
.content-foot {
    z-index: 1;
    font-family: space;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin: 0px;
    background-color: $White;
    color: $Text3;
}
.quote-footer {
    font-family: space;
}
