@font-face {
    font-family: space;
    src: url(./fonts/FUTRFW.TTF);
}
@font-face {
    font-family: twitch;
    src: url(./fonts/DIMIS___.TTF);
}
@font-face {
    font-family: content;
    src: url(./fonts/CaviarDreams.ttf);
}
@font-face {
    font-family: thin;
    src: url(./fonts/basictitlefont.ttf);
}
@font-face {
    font-family: pixel;
    src: url(./fonts/rainyhearts.ttf);
}
@font-face {
    font-family: contentbold;
    src: url(./fonts/CaviarDreams_Bold.ttf);
}
