<nav class="navbar-fixed-left navbar navbar-default">
    <div id="navbar" class="logo-fix">
        <a ui-sref="app">
            <img class="logo" src="./styles/images/speech134.png" alt="HOME LOGO">
        </a>
    </div>
    <div id="navbar" class="">
        <ul class="nav-fix nav nav-bar">
            <li ui-sref-active="active"><a ui-sref=".about">ABOUT</a></li>
            <li ui-sref-active="active"><a ui-sref=".users">USERS</a></li>
            <li ui-sref-active="active"><a ui-sref=".quotes">QUOTES</a></li>
        </ul>
    </div>
</nav>
