<div class="btn-group quotes-btns docs">
    <button  class="btn btn-primary" ng-click="newQuote()"
    tooltip-placement="top" uib-tooltip="NEW">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button  class="btn btn-success" ng-click="refreshQuotes()"
    tooltip-placement="top" uib-tooltip="REFRESH">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
<span uib-dropdown>
    <button id="sort-button" type="button" class="btn btn-warning btn-dropdown"
    uib-dropdown-toggle tooltip-placement="top" uib-tooltip="SORT">
        <span class="glyphicon glyphicon-sort"></span>
    </button>
    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="sort-button">
        <li role="menuitem">
            <a href ng-click="sortDate('-id')">NEWEST</a>
        </li>
        <li role="menuitem">
            <a href ng-click="sortDate('id')">OLDEST</a>
        </li>
    </ul>
</span>
<span uib-dropdown>
    <button id="filter-button" type="button" class="btn btn-warning btn-dropdown"
    uib-dropdown-toggle tooltip-placement="top" uib-tooltip="FILTER">
        <span class="glyphicon glyphicon-user"></span>
    </button>
    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="filter-button">
        <li role="menuitem">
            <a href ng-click="sortUser()">ALL</a>
        </li>
        <li role="menuitem" ng-repeat="user in users">
            <a href ng-click="sortUser(user.id)">{{user.name}}</a>
        </li>
    </ul>
</span>
</div>

<div class="content-container list-group">
    <uib-accordion>

    <div>
        <button ng-click="login()">LOGIN</button>
        <button ng-click="check()">CHECK</button>
    </div>

        <uib-accordion-group class="quote-panel list-group-item"
        ng-repeat="quote in quotes | filter: {userId: user} | orderBy: sort"
        is-open="status.open"
        panel-class="accordion">
            <uib-accordion-heading>
            <div ng-click="quoteSelector(quote)">
                <span class="quote">
                    <!--<span class="user-image">{{userDict[quote.userId].image}}</span>-->
                    <img class="user-image" src="http://findicons.com/files/icons/61/dragon_soft/64/user.png" alt="user" />
                    <span class="">
                        "{{quote.text}}"
                    </span>
                </span>
                <span class="quote-bottom">
                    <i class="pull-left glyphicon" ng-class="{'glyphicon-triangle-bottom': status.open, 'glyphicon-triangle-right': !status.open}"></i>
                    &nbsp {{userDict[quote.userId].name}} - {{quote.modified || quote.date}}
                </span>
            </div>

            </uib-accordion-heading>
            <div class="btn-group quote-btns">
            <button class="btn btn-danger" ng-click="deleteQuote(quoteChoice)"
            uib-dropdown-toggle tooltip-placement="top" uib-tooltip="DELETE">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button class="btn btn-warning" ng-click="editQuote(quoteChoice)"
            uib-dropdown-toggle tooltip-placement="top" uib-tooltip="EDIT">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
