<form name="quote">

    <div class="modal-header">
        <h3 class="modal-title text-center">NEW QUOTE</h3>
    <div>

    <div class="modal-body input-group">
        <input class="form-control" placeholder="Type new quote here..."
        type="text" ng-model="newQuote.text" name="text" required>

        <div class="input-group-btn">
            <div class="btn-group" name="user" uib-dropdown>
                <button id="single-button" type="button" class="btn btn-info edit-quote"
                uib-dropdown-toggle>
                    <span class="glyphicon glyphicon-user"></span>
                    {{userChoice.name}}
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="user in users">
                        <a href ng-click="currentUser(user)">{{user.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal-footer text-center">
        <button ng-click="cancelQuote()" class="btn btn-warning">
            <span class="glyphicon glyphicon-remove"></span>
            CANCEL
        </button>
        <button ng-disabled="quote.text.$pristine || quote.text.$invalid || userChoice.name == 'WHO?'"
        ng-click="saveQuote()" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span>
            SUBMIT
        </button>
    </div>

</form>
